<div class="user-container" *ngIf="userDetails$ | async as userDetails">
  <mat-card *ngIf="selectedPost$ | async as selectedPost">
    <div class="header-content">
      <div class="author-info">
        <div class="profile-photo" loading="lazy"></div>
        <div>
          <p class="color-accent-800 fw-500">{{ selectedPost.author.name }}</p>
          <p class="color-accent-500">{{ selectedPost.author.job }}</p>
        </div>
      </div>
      <a mat-button class="go-back-container p-1 me-5" (click)="goToPostList()">
        <mat-icon class="me-2 mb-1">arrow_back</mat-icon>
        <small>Go back to post list</small>
      </a>
    </div>

    <div class="mt-4">
      <h6 class="color-accent-800 fw-400">
        All Posts from {{ selectedPost.author.name }}
      </h6>
    </div>

    <div class="post-container">
      <ng-container *ngFor="let selectedPost of userDetails">
        <div class="post-content">
          <div class="img-container">
            <img [src]="selectedPost.image" />
          </div>

          <div class="d-flex flex-column justify-content-between m-3">
            <div class="mb-3">
              <h5 class="mb-0">{{ selectedPost.title }}</h5>
              <small class="author-name">
                By: {{ selectedPost.author.name }}
              </small>
            </div>
            <small class="body">
              {{ selectedPost.body }}
            </small>
            <div class="text-end mb-1">
              <button
                mat-raised-button
                color="primary"
                (click)="goToPostDetails(selectedPost)"
              >
                READ
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <h6 class="mt-5">Comments from {{ selectedPost.author.name }}:</h6>

    <ng-container *ngIf="userDetails[0].comments.length; else noComments">
      <ng-container
        *ngFor="let details of userDetails; index as i; last as isLast"
      >
        <div class="author-info-container">
          <div [ngClass]="!isLast ? 'border-bottom' : ''">
            <div>
              <div class="d-flex align-items-center ms-5">
                <div class="profile-photo" loading="lazy"></div>
                <div>
                  <p class="author-name">
                    {{ details.author.name }}
                  </p>
                  <small>{{ details.author.job }}</small>
                </div>
              </div>
            </div>
            <p class="comment ms-5 mt-2 mb-4">
              {{ details.comments[0].comment }}
            </p>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #noComments>
      <small class="no-comments">User has no comments.</small>
    </ng-template>
  </mat-card>
</div>
