<div class="user-container" *ngIf="userPosts">
  <mat-card>
    <div class="header-content mt-3">
      <div class="author-info">
        <div class="profile-photo" loading="lazy"></div>
        <div>
          <p class="color-accent-800 fw-500">{{ post.author.name }}</p>
          <p class="color-accent-500">{{ post.author.job }}</p>
        </div>
      </div>
      <a mat-button class="go-back-container p-1 me-5" routerLink="../">
        <mat-icon class="me-1">arrow_back</mat-icon>
        <small>Go back to post list</small>
      </a>
    </div>

    <div class="mt-4">
      <h6 class="color-accent-800 fw-400">
        All Posts from {{ post.author.name }}
      </h6>
    </div>

    <div class="post-container">
      <ng-container *ngFor="let post of userPosts">
        <div class="post-content">
          <div class="img-container">
            <img [src]="post.image" />
          </div>

          <div class="d-flex flex-column justify-content-between m-3">
            <div>
              <h5>{{ post.title }}</h5>
              <small class="author-name">By: {{ post.author.name }}</small>
            </div>
            <small class="body">
              {{ post.body }}
            </small>
            <div class="text-end mt-1">
              <button
                mat-raised-button
                color="primary"
                (click)="goToPostDetails(post)"
              >
                READ
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <h6 class="mt-5">Comments from {{ post.author.name }}:</h6>

    <ng-container *ngIf="!userPosts[0].comments.length; else noComments">
      <ng-container
        *ngFor="let userPost of userPosts; index as i; last as isLast"
      >
        <div class="author-info-container">
          <div [ngClass]="!isLast ? 'border-bottom' : ''">
            <div>
              <div class="d-flex align-items-center ms-5">
                <div class="profile-photo" loading="lazy"></div>
                <div>
                  <p class="author-name">
                    {{ userPost.author.name }}
                  </p>
                  <small>{{ userPost.author.job }}</small>
                </div>
              </div>
            </div>
            <p class="comment ms-5 mt-2 mb-4">
              {{ userPost.comments[0].comment }}
            </p>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #noComments>
      <small class="no-comments">Post has no comments.</small>
    </ng-template>
  </mat-card>
</div>
