@import "src/assets/scss/variables.scss";

.loader-background {
  position: fixed;
  background-color: $accent-200;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.loader-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

p {
  color: $primary-900;
}
